/* A Free Design by Bryant Smith (bryantsmith.com) */

body
{
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  color: #061C37;
  background: #014D5D url(background.png);
  background: #A4A4A4 url(background3.png);
  background: #A4A4A4 url(background5.png);
  background: #A4A4A4 url(background4.png);
  background-repeat: repeat-x;
}

*
{
  margin: 0 auto 0 auto;
  text-align: left;
}

#page
{
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  width: 770px;

  margin-top:20px;
  margin-bottom:10px;/*
  padding-top: 10px;/*
  background-image: url(tab2.png);
  background-image: url(tab3.png);*/
  background-color: #e6e6e6;
  background-size: cover;
  background-size: 100% 100%;
  border: 1px solid #404040;
  border-radius: 0 8px 0 8px;
}

.topNaviagationLink
{
  text-align:center;
  position:relative;
  margin-top: 10px;
  margin-left: 0px;
  width:135px;
  height: 26px;
  line-height: 16px;
  float:left;
  color:#CEEAEE;
  color:#000000;
  font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size:18px;
  font-weight: 600;
  border-radius: 0 8px 0 8px;
}

.topNaviagationLink.home
{
  width:90px;
  width:75px;
}

.topNaviagationLink.wedday
{
  width:130px;
  width:125px;
}

.topNaviagationLink.accoms
{
  width:150px;
  width:210px;
}

.topNaviagationLink.illini
{
  width:180px;
  width:175px;
}

.topNaviagationLink.contacts
{
  width:100px;
  width:95px;
}

.topNaviagationLink.reg
{
  width:100px;
  width:90px;
}

.topNaviagationLink a
{
  /*top: -10px;*/
  text-align: center;
  border-bottom: none;
  text-decoration: none;
  color: #CDE2FC;
  color: #202020;
  display: block;
  border-radius: 0 8px 0 8px;
  margin-top: -10px;
  padding-top: 10px;
}

.topNaviagationLink a:hover
{
  text-align: center;
  /*border: 1px solid #707070;*/
  border-bottom: none;
  font-weight: 600;
  color: #0C61C9;
  color: #FFFFFF;
  color: #505050;
  color: #202020;
  display: block;
  height: 36px;/*
  background-image: url(tab.png);*/
  background-color: #ffffff;
  background-size: 100% 100%;
  background-size: cover;
  border-radius: 0 8px 0 8px;/*
  margin-top: -10px;
  padding-top: 10px;*/
  transition: all 0.3s ease-in;
}

#currentTab
{
  text-align: center;
  font-weight: 900;
  color: #FFFFFF;
  color: #000000;
  text-decoration: underline;
}

#currentTab:hover
{
  text-align: center;
  font-weight: 600;
  color: #505050;
  color: #000000;
  text-decoration: underline;
  text-decoration: none;
}

#mainPicture
{
  width:770px;
  height:345px;
  background-color:#FFFFFF;
  border-radius: 0 8px 0 8px;
}

#mainPicture .picture
{
  position:relative;
  width:756px;
  height:331px;
  top:6px;
  background-image:url(CnC_smaller6.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  /*background-size:100%;*/
  margin-left:6px;
  border: 1px solid #707070;
  border-radius: 0 8px 0 8px;
}

#mainPicture .picture.wedday
{
  background-image:url(CnC_Pimlico_small2.jpg);
}
#mainPicture .picture.accoms
{
  background-image:url(CnC_Pimlico_small2.jpg);
}
#mainPicture .picture.illini
{
  background-image:url(CnC_Madison_small4.jpg);
  background-image:url(CnC_ArlingtonPark_small7.jpg);
}
#mainPicture .picture.contacts
{
  background-image:url(CnC_ArtScene_small2.jpg);
}
#mainPicture .picture.reg
{
  background-image:url(CnC_Pimlico_small2.jpg);
}

#headerTitle
{
  position:relative;
  top:8px;
  left:20px;
  color:#000000;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size:38px;
  font-weight: 900;
}

#headerSubtext
{
  position:relative;
  top:4px;
  left:30px;
  color:#303030;
  font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size:22px;
  font-weight: 600;
}

.contentBox
{
  width: 770px;
  height: auto;
  min-height: 560px;
  background-color: #FFFFFF;
  margin-top: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border-radius: 0 8px 0 0;
}

.contentBox .innerBox
{
  position: relative;
  width: 758px;
  height: auto;
  min-height: 560px;
  top: 10px;
  top: 5px;
  margin-left: 10px;
  margin-left: 5px;
  background-image: url(content_back.png);
  background-image: url(content_back2.png);
  /*background-size: auto 100%;*/
  background-repeat: repeat-x;
  padding-bottom: 35px;
  border: 1px solid #707070;
  border-radius: 5px;
  border-radius: 0 8px 0 0;
  border-bottom: none;
}

.contentBox .innerBox a
{
  color: #000000;
}

.contentBox .innerBox #pinstripesmap
{
  float: right;
  width: 255px;
  height: 183px;
  margin: 0px 70px 15px 0px;
  border: 1px solid #707070;
}

.contentTitle
{
font-size:26px;
font-weight: 800;
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
margin-bottom:6px;
padding-top:18px;
margin-left:15px;
margin-left:35px;
margin-left:45px;
margin-top:15px;
}

.contentText
{
  font-size:16px;
  line-height:28px;
  margin-left:18px;
  margin-right:18px;
}

#footer
{
  margin-top:-1px;
  margin-bottom:15px;
  width: 770px;
  height:64px;
  background: url(footer3.png) no-repeat;
  background-position: bottom;
  background-size: 800px 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color:#386172;
  padding-top:0px;
}

.footerContent
{
  float: center;
  padding-bottom:15px;
  width:758px;
  height:auto;
  text-align:center;
  font-size:12px;
  border: 1px solid #707070;
  border-top: none;
  border-bottom: none;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(#707070), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(#707070, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#707070, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image:
    -o-linear-gradient(#707070, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, #707070, rgba(0, 0, 0, 0)) 1 100%;
}

/*.footerContent.footerNav
{
  float: left;
  display: inline;
}

.footerContent.footerContact
{
  float: left;
  display: inline;
}*/

#footer a
{
  text-decoration: underline;
  font-size: 12px;
  color: #303030;
}

html, body
{
  text-align: center;
}

p
{
  text-align: left;
}
